:root {
  --bg-color: #d4efdf;
  --dark-blue: #191970;
}

html,
body {
  background-color: var(--bg-color);
  font-family: "georgia", serif;
  color: var(--dark-blue);
  font-size: 16px;
  text-decoration: none;
}

button {
  text-decoration: underline;
}

.button-class {
  background-color: #e6fcfa;
  color: #17401f;
  border: 2px solid black;
  padding: 16px 32px;
  font-size: 18px;
  margin: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  border-radius: 300px;
  width: 200px;
}

.button-class:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
  background-color: green;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.pokemon-logo {
  width: 15%;
  height: auto;
  margin-top: 10px;
}

#pokemonModal {
  border-width: 0px;
  background: #fff;
  background-color: transparent;
  text-align: left;
  box-sizing: border-box;
  padding: 15px;
}

.modal-body,
.modal-header {
  background-color: #ffffe0;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

header {
  margin: 0 auto;
  width: auto;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #ffffe0;
  border-radius: 40px;
}

li.group-list-item {
  flex-grow: 1;
  flex-basis: 0;
}





















/*
.button-class {
    -webkit-writing-mode: horizontal-tb !important;
    color: #fff;
    text-align: center;
    display: grid;
    font-size: 48px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 80%), 0 15px 30px 0 rgb(0 0 0 / 80%);
    justify-content: center;
    background-color: #2565ae;
    border: 1px solid #fff;
    width: 250px;
    height: 250px;
    grid-gap: 15px;
    align-items: center;
    border-radius: 30px 40px 30px 30px;
}

.list-group {
  border-radius: 0;
}

//CSS FOR MODAl
.modal-body {
  align-items: center;
  display: inline;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-weight: bold;
}

.modal-content{
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px 30px 40px 30px;
  border: 4px solid #fff;
  background-color: #2a9df4;
  color: #fff;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.5;
}
.pokemon-list {
    background-color: #fff;
    border: solid #9d1414 1rem;
    border-radius: 30px 40px 30px 30px;
    list-style-type: none;
    padding-bottom: 2rem;
    padding-top: 2rem;
    box-shadow: 0 0 10px #fff;
    display: flex;
    grid-gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
*/